<div class="container">
  <div></div>
  <button mat-raised-button
          color="primary"
          (click)="onUploadClick.emit()"
          [disabled]="!areFilesReady">
    <mat-icon>{{areFilesReady ? 'cloud_upload' : 'cloud_off'}}</mat-icon>
    {{areFilesReady ? 'Click here to upload and visualize' : 'You have to select files first'}}
  </button>

  <svg width="1000" height="500"></svg>
</div>


<div class="popover" #popover>
  <p>Start date: {{startDate}}</p>
  <p>End date: {{endDate}}</p>
</div>
